---
import Sidebar from '../components/Sidebar.astro';
import '../styles/global.css';

const { title } = Astro.props;
const projectId = Astro.url.searchParams.get('project_id');
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title ? `${title} | Dangerous Doppler` : 'Dangerous Doppler'}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="layout">
        <Sidebar projectId={projectId} />
        <main class="main-content">
            <slot />
        </main>
    </div>
</body>
</html>
